.app-container{
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  height: 100vh; /*viewport height*/
  display: flex;
  flex-direction: column;
}


/*
  - This App.css is load in the App.jsx by import './App.css'
  - This type of importing is a feature of Vite. Vite lets use import any type of file
  - ./(dot slash) means current folder
  - We have two css files(App.css, index.css). 
  - Best practice: split up our CSS into different files.
  - Alway add the overall style in the index.css like styling body.
*/